html{
    font-family: monospace;
    background-image:linear-gradient(45deg, #fae5df, #f5cac2);
    color: #f5cac2;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:#141850;
    height:100vh;
}
#heading {
    display:flex;
}
h1 {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}
#reset {
    margin-right:0px;
    height: fit-content;
    align-self: center;
    background-color: #303179;
    color: #fae5df;
    padding:10px;
    border-radius: 10%;
    font-style: italic;
}
#grid {
    background-color: #f5cac2;
    display:flex;
    box-sizing: border-box;
    width:70vw;
    height:600px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    row-gap: 25px;
    padding:40px;
    border-radius: 5%;
}
.grid-row {
    display:flex;
    justify-content: center;
    width:100vw;
    gap: 25px;
}
.content {
    box-sizing: border-box;
    color: #f5cac2;
    width:180px;
    height: 160px;
    display: flex;
    background-color: #ed7966;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    border:none;
    transition:all 0.7s;
    border-radius: 5%;
}
#players {
    display:flex;
    justify-content: space-around;
    text-align: center;
}
#clicked {
    color: #141850;
}
#players {
    margin-top: 60px;
    font-size: 30px;
    font-style: italic;
}
#players p {
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
}